page-prices{
  .main-title{
    text-align: center;
    color: white;

  }
  .title {
    text-align: center;
    color: #E4C345;
  }
  .info-title{
    width: 100px;
  }
  p{
    color: #E4C345;
  }
  span {
    color: white;
  }

}
