page-list {
  .title {
    text-align: center;
  }
  .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
      font-size: 14px;
    }
    span {
      color: #E4C345;
    }
  }
}
